:root {
	--orange: #da722c;
	--dark-blue: #057ada;
	--dark-color: #070917;
	--light-color: #e8f7fb;
	--light-blue-color: #6F7DFB;                                                                                                                                                                                         ourple: #6f7dfb;
}

